<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="../../static/css/untitled.css">
    {% block styles %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/my_documents"><span>E-SignatureHub</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link{% if current_page == 'request_to' %} active{% endif %}" href="/request_to">Solicitar Firma</a></li>
                    <li class="nav-item"><a class="nav-link{% if current_page == 'create_document' %} active{% endif %}" href="/create_document">Crear documento</a></li>
                </ul>
                {% if is_logged %}
                    <div>
                        <svg class="bi bi-person-circle" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="#24285b" viewBox="0 0 16 16" style="font-size: 33px;">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                        </svg>
                        <a href="/my_documents" style="margin-right: 30px; color:#24285b; font-weight: bold; font-size: 15px;">{{request.user.username}}</a>
                    </div>
                    <a style="background-color: #450077; color: var(--bs-gray-100)" class="btn btn-primary shadow btn-sm" role="button" href="/log_out">Cerrar sesión</a>
                {% else %}
                    <a class="btn btn-primary shadow" role="button" href="/log_in">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <footer>
        <div class="container py-4 py-lg-5">
            <div class="text-muted d-flex justify-content-between align-items-center pt-3" style="padding-top: 0px;">
                <p class="mb-0">Copyright © 2023 E-SignatureHub</p>
            </div>
        </div>
    </footer>
    {% block scripts %} {% endblock %}
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/startup-modern.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>