<br>
<div class="row">
    <div class="col-md-auto border text-break" style="min-width: 360px; background-color: rgb(230, 229, 229); border-radius: 5px;">
        <div class="py-4" >
            <div class="author-date">
                <span> {{comment.user_id}}</span>
                <span class="date"> {{comment.date}} </span>
            </div>
                <p> {{comment.content}} </p>
        </div>
        {%if comment.user_id == USER%}
            <!--funcionamiento de borrado y modificación para cada comentario--> 
            <form method="post">
                {% csrf_token %} <!-- csrf token for basic security -->
                <div class="row row-cols-auto">
                    <div class="btn-group" role="group">
                        <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#WarningCommentModal{{comment.id}}">Eliminar</button>
                        <p> </p>
                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#EditCommentModal{{comment.id}}">Editar</button>
                        
                        <input id="comment-id" name="comment-id" type="number" hidden value={{comment.id}}>

                        <div class="modal fade" id="WarningCommentModal{{comment.id}}" tabindex="-1" aria-labelledby="WarningCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="WarningCommentModalLabel">Vas a eliminar tu comentario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que quieres eliminar tu comentario?</p> 
                                        <p>Una vez hecho lo podrás deshacer.</p>
                                    </div>
                                    <div class="modal-footer">        
                                        <button name="modify" type="submit" class="btn btn-danger" value="delete_comment" method="post">Eliminar Comentario</button>
                                        <button type="button" class="btn" style="background-color: gray;color:azure" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="EditCommentModal{{comment.id}}" tabindex="-1" aria-labelledby="EditCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="EditCommentModalLabel">Edita tu comentario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <textarea id="comment-content-edit" class="shadow form-control" name="comment-content-edit" rows="6" maxlength="500" placeholder="Escribe tu comentario">{{comment.content}}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button name="modify" type="submit" class="btn btn-primary" value="edit_comment" method="post">Editar Comentario</button>
                                        <button type="button" class="btn" style="background-color: gray;color:azure" data-bs-dismiss="modal">Cancelar</button>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {%endif%}
    </div>
</div>

    