<link rel="stylesheet" href="../../static/css/voteButton.css">
<link rel="stylesheet" href="../../static/css/reviews.css">

{% load static %}
<abbr title="Click para comentar y más" style="border-bottom: none !important; cursor: inherit !important; text-decoration: none !important;">
    <div class="row review" style=" cursor: pointer; margin-bottom: 7px; justify-content: center; align-items: center; background-color: rgb(230, 229, 229); border-radius: 5px;">
        <div class="col-sm-1 text-center" style="background-color: rgb(230, 229, 229);" >
            <div class="vote-container">
                <!-- Bloque de upvotes: icono + numero -->
                <form method="post">
                    {% csrf_token %}
                    <button name="modify" value="upvote" type="submit" {% if review.isPositive == 1 %} class="upvote-button clicked" {% else %} class="upvote-button" {% endif %} {% if not is_logged %}disabled{% endif %}>
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <input name="review-id" type="text" hidden value={{review.id}}>
                    <br> <span>{{review.votes}}</span> <br>
                    <!-- Bloque de downvotes: icono + numero -->
                    <button name="modify" value="downvote" type="submit" {% if review.isPositive == -1 %} class="downvote-button clicked" {% else %} class="downvote-button" {% endif %} {% if not is_logged %}disabled{% endif %}>
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md text-break" onclick="window.location='/single_review/{{review.id}}'">
            <div class="py-4">
                <div class="author-date">
                    <span> {{review.user_id}}</span>
                    <span class="date"> {{review.date}} </span>
                </div>
                <span class="venue"> {{review.venue}} </span>
                <span class="venue">— {{review.sit_sector}}</span>
                <h5 class="concert"> {{review.concert}}</h5>
                <div class="stars-container" data-stars="{{review.stars}}"></div>
                <p class="review-content"> {{review.content}} </p>
            </div>
        </div>
        {% if review.photo %}
        <div class="col-6 col-md-3 " style="justify-content: center; align-items: center;">
            <img class="rounded img-fluid d-block w-100 fit-cover "
                style="height: 200px; justify-content: center; align-items: center;" src="{{review.photo.url}}">
        </div>
        {% endif %}
    </div>
</abbr>
<script src="../../static/js/voteButton.js"></script>
<script src="../../static/js/star.js"></script>