{% extends 'base.html' %}

{% block title %}
  RateYourSeat
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
  <header class="pt-5">
    <div class="container pt-4 pt-xl-5">
      <div class="row pt-5">
        <div class="col-md-8 text-center text-md-start mx-auto">
          <div class="text-center">
            <h1 class="display-4 fw-bold mb-5">La mejor página para reseñas de conciertos</h1>
            <p class="fs-5 text-muted mb-5">Empieza buscando reseñas por recinto o por evento</p>
            <form class="d-flex justify-content-center flex-wrap" method="post">
              {% if best_review%}
                <div class="shadow-lg mb-3">
                  <a class="btn btn-primary" href="/reviews/">VER RESEÑAS</a>
                </div>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-10 mx-auto">
          <div class="text-center position-relative"></div>
        </div>
      </div>
    </div>
  </header>
  {% if best_review%}
    <section>
      <div class="container py-4 py-xl-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner" >
            <div class="carousel-item active" style="justify-content: center; align-items: center;">
              <img src={{best_review.photo.url}} class="d-block w-100 img-fluid d-block fit-cover" alt="best_review" style="width: 800px; height: 500px; margin: 0px;">
              <div class="carousel-caption d-none d-md-block" style="background-color: #0000007c; border-radius: 10px;" >
                <h5>{{best_review.venue}} - {{best_review.concert}}</h5>
                  {% if best_review.content|length > 250 %}
                      <p>{{ best_review.content|slice:":250"}} . . .</p>
                  {% else %}
                      <p>{{ best_review.content }}</p>
                  {% endif %}
                <p style="font-size: 11.5px;">por {{best_review.user_id}}, {{best_review.date}}</p>
              </div>
            </div>
            {% if second_best_review %}
              <div class="carousel-item">
                <img src={{second_best_review.photo.url}} class="d-block w-100 img-fluid d-block fit-cover" alt="best_review" style="width: 800px; height: 500px; margin: 0px;">
                <div class="carousel-caption d-none d-md-block" style="background-color: #0000007c; border-radius: 10px;" >
                  <h5>{{second_best_review.venue}} - {{second_best_review.concert}}</h5>
                    {% if second_best_review.content|length > 250 %}
                        <p>{{ second_best_review.content|slice:":250"}} . . .</p>
                    {% else %}
                        <p>{{ second_best_review.content }}</p>
                    {% endif %}
                  <p style="font-size: 11.5px;">por {{second_best_review.user_id}}, {{second_best_review.date}}</p>
                </div>
              </div>
            {% endif %}
            {% if third_best_review %}
              <div class="carousel-item">
                <img src={{third_best_review.photo.url}} class="d-block w-100 img-fluid d-block fit-cover" alt="best_review" style="width: 800px; height: 500px; margin: 0px;">
                <div class="carousel-caption d-none d-md-block" style="background-color: #0000007c; border-radius: 10px;" >
                  <h5>{{third_best_review.venue}} - {{third_best_review.concert}}</h5>
                  {% if third_best_review.content|length > 250 %}
                        <p>{{ third_best_review.content|slice:":250"}} . . .</p>
                  {% else %}
                      <p>{{ third_best_review.content }}</p>
                  {% endif %}
                <p style="font-size: 11.5px;">por {{third_best_review.user_id}}, {{third_best_review.date}}</p>
              </div>
            </div>
          {% endif %}
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> 
      </div>
    </section>
  {% else %}
    <h4 class="text-center" >No hay reseñas disponibles aún.</h4>
    <br>
    <div class="text-center">
        <a class="btn btn-primary" href="/add-review/">Crear una reseña</a>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}
