{% extends 'app_inicial/base.html' %}

{% block title %}Mis reseñas{% endblock %}

{% block styles %} 
{% endblock %}

{% block content %}
    <section class="theme py-4 py-xl-5"></section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Mis reseñas</h2>
            </div>
        </div>
        {% if not reviews %}
                <h4 class="text-center" >No tienes reseñas todavía :c</h4>
                <br>
                <div class="text-center">
                    <a class="btn btn-primary" href="/add-review/">Crear una reseña</a>
                </div>
        {% endif %}
        {% for element in reviews %}
        {% include 'base_review.html' with review=element %}
        {% endfor %}
        <a href="/add-review" class="btn floating-button btn-floating"></a>
    </div>
    <footer>
    </footer>

{% endblock %}
{% block scripts %}
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/startup-modern.js"></script>
{%endblock%}