<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tus secret keys</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body>
    <section class="theme py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5" style="padding-bottom: 0px;">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Tus secret keys</h2>
                    <p></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-10">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg>
                            </div>
                            <h1>¡Registro Exitoso!</h1>
                            <h2>Guarda bien estas claves, no las compartas con nadie, o podran suplantar tu identidad</h2>
                            <p>Tu secret key 1 es: </p>
                            <p>{{ secret_key1 }}</p>
                            <p>Tu secret key 2 es:</p>
                            <p>{{ secret_key2 }}</p>
                            <p>Tu secret key 3 es:</p>
                            <p>{{ secret_key3 }}</p>
                            <p>Tu secret key 4 es:</p>
                            <p>{{ secret_key4 }}</p>
                            <p>Tu secret key 5 es:</p>
                            <p>{{ secret_key5 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/startup-modern.js"></script>
</body>

</html>